-if @note
  %form{:type => "#{@note.id}", :method => "post", :id => "edit"}
    %input{:type => "hidden", :name => "_method", :value => "put"}
    %textarea{:name => "content"}=@note.content
    %input{:type => "checkbox", :name => "complete"}
    %input{:type => "submit"}
    %p
  %a{:href => "/#{@note.id}/delete"} Delete
-else
  %p Note is not found.
