!!!
%html
  %form{ :action => "/", :method => "post"}
    %fieldset
      %ol
        %ui
          %label{:for => "Note"} Note:
          %input{:type => "textarea", :name => "content", :class => "text"}
      %input{:type => "submit", :value => "Take Note!", :class => "button"}
- @notes.each do |note|
  %p= note.content
  %li
    %a{ href: "#{note.id}"}
      %strong
        %em Edit
