!!!
%html
  %form{ :action => "/form", :method => "post"}
    %fieldset
      %ol
        %ui
          %label{:for => "username"} Note:
          %input{:type => "text", :name => "note", :class => "text"}
      %input{:type => "submit", :value => "Take Note!", :class => "button"}
