!!!
%html
  %head
    %Recall
    %meta{:charest => "utf8"}
    %link{:href => "/reset.css", :rel => "stylesheet"}
  %body
    #wrapper
      #header
        %h1 Recall
        %h2 'cause you're too clumsy to remember
        #content
          =yield
          #footer
            %p This is a footer.
